<br>
<div class="row">
  <div class="col-md-6 col-sm-6 aa" id="content" *ngIf="listImageToShow[0] !== undefined">
    <img [src]="listImageToShow[0].image" width="100%" height="100%">
  </div>

  <div class=" col-md-6 col-sm-6 row">
    <div class="col-md-6 aa" *ngIf="listImageToShow[1] !== undefined">
      <img [src]="listImageToShow[1].image" width="100%">
    </div>
    <div class="col-md-6 aa" *ngIf="listImageToShow[2] !== undefined">
      <img [src]="listImageToShow[2].image" width="100%">
    </div>
    <div class="col-md-6 aa" *ngIf="listImageToShow[3] !== undefined">
      <img [src]="listImageToShow[3].image" width="100%">
    </div>
    <div class="col-md-6 aa" *ngIf="listImageToShow[4] !== undefined">
      <img [src]="listImageToShow[4].image" width="100%">
    </div>
  </div>
</div>
<br>
<div class="container" *ngIf="house !== undefined">
  <div class="row">
    <div id="left" class="col-md-7 col-sm-7">
      <div class="col-md-12">
        <label> <i class="fab fa-app-store-ios"></i> Name house</label>
        <p>{{house.name}}</p>
      </div>


      <div class="col-md-12">
        <label> <i class="fas fa-map-marker-alt"></i> Address</label>
        <p>{{house.address}}</p>
      </div>

      <div class="col-md-12">
        <label><i class="fas fa-home"></i> Entire apartment</label>
        <p>{{house.quantityBedroom}} bedroom / {{house.quantityBathroom}} bathroom</p>
      </div>

      <div class="col-md-12">
        <label><i class="fas fa-hand-holding-usd"></i> Price/night</label>
        <p>{{house.price}}/USD</p>
      </div>

      <div class="col-md-12">
        <label> <i class="fas fa-comment-medical"></i> Description</label>
        <p>{{house.description}}</p>
      </div>

    </div>

    <div class=" col-md-5 col-sm-5">

      <div class="row">
<!--        <form [formGroup]="formBooking">-->
        <div class="col-md-6">
          <div class="form-group">
            <label>Check in</label>
            <input type="date" class="form-control" formControlName="startDate">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Check out</label>
            <input type="date" class="form-control" formControlName="endDate">
          </div>
        </div>
<!--        </form>-->
      </div>
      <div *ngIf="!authority">
        <a [routerLink]="['/login']" class="btn btn-primary book" > Login to Book</a>
      </div>
      <div *ngIf="authority">
        <button type="button" class="btn btn-danger book">Book</button>
      </div>
    </div>
  </div>

</div>
