<br>
<div class="row">
  <div class="col-md-6 col-sm-6 aa" id="content">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="" width="100%">
  </div>

  <div class=" col-md-6 col-sm-6 row">
    <div class="col-md-6 aa">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-6 aa">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-6 aa">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-6 aa">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div id="left" class="col-md-7 col-sm-7">
      <div class="col-md-12">
        <label> <i class="fab fa-app-store-ios"></i> Name house</label>
        <p>Biet thu</p>
      </div>


      <div class="col-md-12">
        <label> <i class="fas fa-map-marker-alt"></i> Address</label>
        <p>Ha Noi</p>
      </div>

      <div class="col-md-12">
        <label><i class="fas fa-home"></i> Entire apartment</label>
        <p>1 bedroom / 1 bathroom</p>
      </div>

      <div class="col-md-12">
        <label><i class="fas fa-hand-holding-usd"></i> Price/night</label>
        <p>1000 USD</p>
      </div>

      <div class="col-md-12">
        <label> <i class="fas fa-comment-medical"></i> Description</label>
        <p>adsdadasdasds</p>
      </div>

    </div>

    <div class=" col-md-5 col-sm-5">

      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label>Check in</label>
            <input type="date" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Check out</label>
            <input type="date" class="form-control">
          </div>
        </div>

      </div>

      <button id="book" type="button" class="btn btn-danger">Book</button>
    </div>
  </div>

</div>
