<div class="container">
  <br>
  <h1 style="text-align:  center">Income month and year</h1>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row" id="filter">
      <div class="form-group col-sm-3 col-xs-6">
        <label>Month</label>
        <select data-filter="type" class="filter-type filter form-control" formControlName="month">
          <option value="01">1</option>
          <option value="02">2</option>
          <option value="03">3</option>
          <option value="04">4</option>
          <option value="05">5</option>
          <option value="06">6</option>
          <option value="07">7</option>
          <option value="08">8</option>
          <option value="09">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Year</label>
        <select data-filter="type" class="filter-price filter form-control" formControlName="year">
          <option value=2018>2018</option>
          <option value=2019>2019</option>
          <option value=2020>2020</option>
          <option value=2021>2021</option>
          <option value=2022>2022</option>
          <option value=2023>2023</option>
          <option value=2024>2024</option>
          <option value=2025>2025</option>
          <option value=2026>2026</option>
        </select>
      </div>
    </div>
    <div class="form-group col-sm-2">
      <button type="submit" class="btn btn-block btn-primary">Search</button>
    </div>
  </form>
  <table class="table">
    <caption style="color: black"><b>Total: {{getTotal()}} $</b></caption>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody *ngIf="listIncome !== null">
    <tr *ngFor="let income of listIncome | filter: filter | paginate: { itemsPerPage: 5, currentPage: p}; index as i ">
      <td>{{i + 1}}</td>
      <td>{{income.house.name}}</td>
      <td>{{income.house.address}}</td>
      <td>{{income.house.price}}</td>
      <td>{{income.income}}</td>
    </tr>
    </tbody>
  </table>
  <ul class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </ul>
</div>
