.editbtn {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 4px;
}

.edit {
  color: blue;
}
.delete {
  color: red;
}
.crudcategoriesbackground{
  background-image: url("https://a0.muscache.com/4ea/air/v2/pictures/fb7d63bb-9220-467e-8265-132438393ee3.jpg?t=c:w2262-h686,r:w2262-h686-sfit,e:fjpg-c75");
  height: 600px;
}
