<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="crudcategoriesbackground">
<div class="container " >
  <div class="text-center"> [ {{message}} ]</div>
  <div class="row">
    <div class="col-md-6 border-right border-info">
      <div class="text-center"><h2> Create Category</h2></div>
      <table align="center" class="border-info">
          <tr>
            <td>
            <form [formGroup]="createCategoriesForm" (ngSubmit)="onCreate()">
              <p> Name:</p>
              <div><textarea cols="40%" rows="5" formControlName="name"></textarea></div>
              <div *ngIf="createCategoriesForm.get('name').touched && createCategoriesForm.get('name').invalid ">
                <p class="alert alert-danger">
                  Name of category is required and minlength is 6
                </p>
              </div>
              <button class="btn btn-primary">Create</button>
            </form>
            </td>
          </tr>
      </table>
    </div>
    <div class="col-md-6">
      <div class="table-responsive">
        <div class="text-center"><h2>All Categories of House</h2></div>
        <table class="table user-list text-center">
          <thead>
          <tr>
            <th><span>No.</span></th>
            <th><span>Name</span></th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody *ngFor="let category of categorieslist; index as i">
          <tr>
            <td class="">
              {{i + 1}}
            </td>
            <td>
              {{category.name}}
            </td>
            <td style="width: 20%;">
              <a (click)="showEditForm(i,category)" class="table-link danger">
									<span class="fa-stack edit">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
              </a>
              <a (click)="onDelete(category)" class="table-link danger">
									<span class="fa-stack delete">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
              </a>
            </td>
          </tr>
          <tr *ngIf="i===indexofEdit">
            <td></td>
            <th colspan="2">
              <form [formGroup]=categoriesEditForm (ngSubmit)="onEditCategory(category)">
                <div class="row">
                  <div class="col-md-9">
                    <input type="text" formControlName="name" class="form-control">
                  </div>
                  <div class="col-md-3">
                    <button type="submit" class="btn btn-warning editbtn">Edit</button>
                  </div>
                </div>
              </form>
            </th>
          </tr>
          <tr
            *ngIf="i===indexofEdit && categoriesEditForm.get('name').touched && categoriesEditForm.get('name').invalid">
            <td colspan="3" class="alert alert-danger">
              Name of category is required and minlength is 6
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
