<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>eCommerce Product Detail</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

</head>
<div class="bodyHome">
  <div class="container">
    <div class="card">
      <div>
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="form-group files">
                <input id="1" style="display: none" type="file" (change)="onFileUpload($event,0)" #selectFile1>
                <button (click)="selectFile1.click()">Select Image</button>
                <div *ngIf="selecetdFile[0]!==undefined" class="image-preview">
                  <img [src]="imagePreview[0]">
                </div>

              </div>
            </div>

            <ul class="preview-thumbnail nav nav-tabs">
              <li *ngFor="let indexOfChildImage of INDEXCHILDIMAGES">
                <div class="form-group files">
                    <input id="2" style="display: none" type="file" (change)="onFileUpload($event,indexOfChildImage)"
                           #selectFile2>
                    <button (click)="selectFile2.click()">Select Image</button>
                    <div *ngIf="selecetdFile[indexOfChildImage] !== undefined " class="image-preview">
                      <img [src]="imagePreview[indexOfChildImage]">
                    </div>
                  </div>
              </li>

            </ul>


          </div>
          <div class="details col-md-6">
            <h2 class="product-title">Create House</h2>
            <form class="font" [formGroup]="formHouseData" (ngSubmit)="createHouse()">
              <div class="row">
                <div class="col-md-4">
                  <label class="name">Name :</label></div>
                <div class="col-md-8">
                  <input type="text" name="name" id="name" placeholder="Enter name house" class="form-control"
                         formControlName="name">
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <label class="categories home">Categories home :</label></div>
                <div class="col-md-8">
                  <select class="form-control form-control-sm" style="width:100%;" name="categories" id="categories"
                          formControlName="categories">
                    <option *ngFor="let cate of listCateGories" [ngValue]="cate">{{cate.name}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <label class="address">Address :</label></div>
                <div class="col-md-8">
                  <input type="text" name="address" id="address" placeholder="Enter address house "
                         class="form-control"
                         formControlName="address">
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <label class="bathroom">Bathroom :</label></div>
                <div class="col-md-8">
                  <input type="number" name="bathroom" id="bathroom" placeholder="Enter bathroom in house "
                         class="form-control"
                         formControlName="quantityBathroom">
                </div>
              </div>


              <div class="row">
                <div class="col-md-4">
                  <label class="bedroom">Bedroom :</label></div>
                <div class="col-md-8">
                  <input type="number" name="bedroom" id="bedroom" placeholder="Enter bedroom in house "
                         class="form-control"
                         formControlName="quantityBedroom">
                </div>
              </div>


              <div class="row">
                <div class="col-md-4">
                  <label class="description">Description :</label></div>
                <div class="col-md-8">
              <textarea type="textarea" id="description" placeholder="Enter description " class="form-control"
                        formControlName="description"></textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <label class="price">Price/night :</label></div>
                <div class="col-md-6">
                  <input type="text" name="price" id="price" placeholder="Enter price " step="0.01"
                         class="form-control"
                         formControlName="price">
                </div>
                <div class="col-md-2">
                  <p class="form-control form-control-sm">
                    USD
                  </p>
                </div>
              </div>
              <div *ngIf="formHouseData.get('name').invalid&& formHouseData.get('name').touched"
                   class="alert alert-danger">
                Name is required and min length is 3
              </div>
              <div *ngIf="formHouseData.get('categories').invalid&& formHouseData.get('categories').touched"
                   class="alert alert-danger">
                Categories is required
              </div>
              <div *ngIf="formHouseData.get('address').invalid&& formHouseData.get('address').touched"
                   class="alert alert-danger">
                Address is required and min length is 3
              </div>
              <div *ngIf="formHouseData.get('quantityBathroom').invalid&& formHouseData.get('quantityBathroom').touched"
                   class="alert alert-danger">
                QuantityBathroom is required and min is 1
              </div>
              <div *ngIf="formHouseData.get('quantityBedroom').invalid&& formHouseData.get('quantityBedroom').touched"
                   class="alert alert-danger">
                QuantityBedroom is required and min is 1
              </div>
              <div *ngIf="formHouseData.get('description').invalid&& formHouseData.get('description').touched"
                   class="alert alert-danger">
                Description is required and min length is 10
              </div>
              <div *ngIf="formHouseData.get('price').invalid&& formHouseData.get('price').touched"
                   class="alert alert-danger">
                Price is required and min is 0
              </div>
              <div *ngIf="createFail" class="alert alert-danger">
                Create Failed
              </div>

              <div class="action">
                <button type="submit" class="btn btn-success">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="margin-top: 20px; font-family: 'Abyssinica SIL' ">
  <h2 class="product-title text-center">List House</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Categories Home</th>
      <th scope="col">Bathroom</th>
      <th scope="col">Bedroom</th>
      <th scope="col">Price (USD)</th>
      <th scope="col">Rented</th>
    </tr>
    </thead>
    <tbody *ngIf="listhouse !== null">
    <tr *ngFor="let house of listhouse | filter: filter | paginate: { itemsPerPage: 5, currentPage: p}; index as i ">
      <td>{{i + 1}}</td>
      <td>{{house.name}}</td>
      <td>{{house.address}}</td>
      <td>{{house.categories.name}}</td>
      <td>{{house.quantityBathroom}}</td>
      <td>{{house.quantityBedroom}}</td>
      <td>{{house.price}}</td>
      <td>
        <a *ngIf="house.rented">
          <input type="checkbox" checked onclick="return false">
        </a>
        <a *ngIf="house.rented === false">
          <input type="checkbox" onclick="return false">
        </a>
      </td>
      <td style="width: 20%;">
        <a class="table-link danger" [routerLink]="['/houses/edit',house.id]">
									<span class="fa-stack edit">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
        </a>
        <a (click)="onDelete(house)" class="table-link danger">
									<span class="fa-stack delete">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
        </a>
        <a class="table-link danger" [routerLink]="['/houses/view',house.id]">
									<span class="fa-stack view">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-eye fa-stack-1x fa-inverse"></i>
									</span>
        </a>
      </td>

    </tr>
    </tbody>
  </table>
  <ul class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </ul>
</div>
</html>

