<body>
<div id="header" class="container-fluid">
  <nav class="navbar navbar-default none_nav">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse"
           id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-center">
          <!-- active de dung lam dinh vi ve trang chu -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Dropdown <span class="caret"></span></a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- /.container-fluid -->
  <div class="event_header container wow zoomIn">
    <!--          <span style="font-size: 30px; font-family: serif;">Hosted journeys to extraordinary places</span><br/>-->
    <!--          <button>Learn more</button>-->
  </div>
</div>
<!-- ket thuc header trang chu -->

<div id="info" class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-duration="2s">

      <div class="image-content">
        <img
          src="https://a0.muscache.com/im/pictures/52aa45c1-d168-41d5-9149-445c8787358f.jpg?aki_policy=x_large"/><br/>
        <span class="font-content">Cooking classes</span><br/>
        <span>Sample local flavors and take home new skill with hand-on cooking classes by local expect</span>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-duration="2s">

      <div class="image-content">
        <img
          src="https://a0.muscache.com/im/pictures/bbaee069-8069-459d-aebd-f527b9ed72e8.jpg?aki_policy=x_large"/><br/>
        <span class="font-content">Surting</span><br/>
        <span>Catch a ware with experiences hand-picked by the Word Surf League and hosted by a pro</span>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-duration="2s">

      <div class="image-content">
        <img
          src="https://a0.muscache.com/im/pictures/9a870331-d950-4625-bebf-f014894bb013.jpg?aki_policy=x_large"/><br/>
        <span class="font-content">Concerts</span><br/>
        <span>Feel the rhythm with intimate shows in unique spaces and listen to live music like never before</span>
      </div>
    </div>
  </div>
</div>
<!-- Ket thuc gioi thieu ve trang web -->

<br>

<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row" id="search">
      <div class="form-group col-sm-8">
        <input formControlName="address" class="form-control" type="text" placeholder="Search address"/>
      </div>
      <div class="form-group col-sm-2">
        <button type="submit" class="btn btn-block btn-primary">Search</button>
      </div>
      <div class="form-group col-sm-2">
        <button type="reset" (click)="resetForm()" class="btn btn-block btn-danger">Reset</button>
      </div>
    </div>
    <div class="row" id="filter">
      <div class="form-group col-sm-3 col-xs-6">
        <label>Bathroom</label>
        <select data-filter="make" class="filter-make filter form-control" formControlName="quantityBathroom">
          <option value="">All</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
        </select>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Bedroom</label>
        <select data-filter="model" class="filter-model filter form-control " formControlName="quantityBedroom">
          <option value="">All</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
        </select>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Min price</label>
        <select data-filter="type" class="filter-type filter form-control" formControlName="minPrice">
          <option value="">All</option>
          <option value=99>100</option>
        </select>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Max price</label>
        <select data-filter="price" class="filter-price filter form-control" formControlName="maxPrice">
          <option value="">All</option>
          <option value=199>200</option>
        </select>
      </div>
    </div>
  </form>
</div>

<!-- Ket thuc tim kiem -->

<div id="title-product" class="container">
  <span> Recommended for you</span>
  <div class="row">
    <div class="col-md-3 col-sm-6 " *ngFor="let house of listhouse ; index as i">
      <div class="product" *ngIf="listImageToShowOfHouse[i] === undefined">
        <img src="../../assets/airbnb-defual.jpg" height="1667" width="2500"/>
        <p>{{house.address}} </p>
        <h6><b>{{house.name}}</b></h6>
        <p>{{ house.quantityBathroom}}
          Bathroom / {{ house.quantityBedroom}} Bedroom </p>
        <p>${{house.price}}/night</p>
        <a [routerLink]="['/houses/',house.id]">Show Detail</a>
      </div>
      <div class="product" *ngIf="listImageToShowOfHouse[i] !== undefined">
        <img [src]="listImageToShowOfHouse[i].image" width="100%">
        <p>{{house.address}} </p>
        <h6><b>{{house.name}}</b></h6>
        <p>{{ house.quantityBathroom}}
          Bathroom / {{ house.quantityBedroom}} Bedroom </p>
        <p>${{house.price}}/night</p>
        <a [routerLink]="['/houses/',house.id]">Show Detail</a>
      </div>
    </div>
  </div>
</div>

<!-- Ket thuc san pham -->
<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <p>
        <span class="title-footer">STORE INFORMATION</span>
      </p>
      <span> Our website is full of inspiration and has pages
          Latest dress from fashion. Sit in front of your chair and leave them
          I inspire you. Browse the website to find your outfit
          Favorite, get the latest fashion buzz from AirBnB.</span>

    </div>
    <div class="col-sm-4 col-md-4">
      <p>
        <span class="title-footer">CONTACT</span>
      </p>
      <span> Hanoi, Thanh Xuan, Thuong Dinh, Royal City Urban Area,
          Tunnel 1</span>
      <br>
      <span>PHONE : 01234578</span>
    </div>
    <div class="col-sm-4 col-md-4">
      <p>
        <span class="title-footer">MAILBOX</span>
      </p>
      <input class="footer-text" type="text" placeholder="Email"/>
      <textarea class="footer-text" rows="4" cols="50" placeholder="Content"></textarea>
      <button class="footer-text-button">AGREE</button>
    </div>
  </div>
</div>
</body>
